@using HongGia.Helpers

@model HongGia.Models.AllNewsViewModel

@{
    ViewBag.Title = "All News Page";
}

<div class="row" style="margin-top:20px; margin-bottom: 20px;">@*style*@
    <div class="col-md-12">
        @Html.ListGroup(Model.AllNews)
    </div>
</div>

<div class="row" style="margin-top:20px; margin-bottom: 20px;">@*style*@
    <div class="col-md-12 text-center">
        @Html.PageLinks(
            (int)Html.ViewData["PageNum"], 
            (int)Html.ViewData["ItemCount"], 
            (int)Html.ViewData["PageSize"], 
            x => Url.Action("AllNews", new { pageNum = x }))
    </div>
</div>
