@using HongGia.Helpers

@model HongGia.Models.AllArticlesViewModel

@{
    ViewBag.Title = "All Articles";
}


<div class="row row-margin">
    <div class="col-md-12">

        @foreach (var category in @Model.Categories)
        {
            @Html.ColllapsibleArticleLinkListPanel(@Model.AllArticles.Where(x => x.Categories.Contains(category)), category)
        }
    
    </div>
</div>
