@if (Request.IsAuthenticated == true)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <nav class="nav navbar-nav navbar-right">
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </nav>
    }
}
else
{
    <nav class="nav navbar-nav navbar-right">
        @Html.ActionLink("Log in", "AdminLogin", "Account", null, new { id = "loginLink" })
    </nav>
}
