@using HongGia.Helpers

@model HongGia.Core.Interfaces.Models.IAllPhotoView

@{
    ViewBag.Title = "All Photo";
}


<div class="row row-margin">
    <div class="col-md-12">

        @foreach (var category in @Model.Categories)
        {
            @Html.ColllapsiblePhotoPanel(@Model.AllPhoto.Where(x => x.Categories.Contains(category)), category)
        }

    </div>
</div>
