@using HongGia.App_LocalResources
@using HongGia.Helpers

@model HongGia.Core.Interfaces.Models.IBooksView

@{
    ViewBag.Title = "Books";
}

<div class="row row-margin">
    <div class="col-md-12">
        <h2>@GlobalRes.Books :</h2>
    </div>
</div>

<div class="row row-margin">
    <div class="col-md-12">
        @Html.ListGroup(@Model.AllBooks)
    </div>
</div>
