@{
	ViewBag.Title = "Home CRM";
}

<h2>Home</h2>

<div class="row">
	<div class="col-md-12">
		information is a lot.
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		Statistics about users and ect.
	</div>
	<div class="col-md-4">
		@Html.ActionLink("Slider Information", "Index", "Slider", null, new { @class = "btn rfloat clear" })<br>
		@Html.ActionLink("Firm Information", "Index", "Firm", null, new { @class = "btn rfloat clear" })<br>
		@Html.ActionLink("BasePage Information", "Index", "BasePage", null, new { @class = "btn rfloat clear" })<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		all users information
	</div>
</div>