@using HongGia.App_LocalResources
@{
    ViewBag.Title = "Contacts";
}

<div class="row row-margin">
    <div class="col-md-6">
        <div class="thumbnail">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9392.597850882034!2d27.697118!3d53.946853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6939bd6f46966fa!2sLTD.+%22Hong-Gia%22!5e0!3m2!1sru!2sru!4v1483859110306" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail thumbnail-margin">
            <div class="caption">
                <h4>@GlobalRes.Phones :</h4>

                <p><i class="glyphicon glyphicon-phone"></i> +375 29 6 519 518</p>
                <p><i class="glyphicon glyphicon-phone"></i> +375 33 6 518 518</p>
                <p><i class="glyphicon glyphicon-phone"></i> +375 25 518 00 00</p>
            </div>
        </div>

        <div class="thumbnail thumbnail-margin">
            <div class="caption">
                <h4>@GlobalRes.Emails :</h4>

                <p><i class="glyphicon glyphicon-envelope"></i> admin@hong-gia.by</p>
                <p><i class="glyphicon glyphicon-envelope"></i> eugene_sao@hong-gia.com</p>
            </div>
        </div>

        <div class="thumbnail thumbnail-margin">
            <div class="caption">
                <h4>@GlobalRes.Address :</h4>

                <p><i class="glyphicon glyphicon-home"></i> г.Минск, 220041, ул. Стариновская, 29</p>
            </div>
        </div>
    </div>
</div>
