
@{
    ViewBag.Title = "Server";
}

<div class="row" style="margin: 20px 0;">
	<div class="col-md-12">
		<div class="alert alert-danger">
			<strong>Bad Request</strong>
		</div>
		<img src="~/Content/Images/monkey.png"/>
	</div>
</div>