@using HongGia.App_LocalResources

<div class="row">
    <div class="col-md-6">
        <div class="service">
            <div class="service-icon">
                <span class="glyphicon glyphicon-certificate"></span>
            </div>

            <h3>Что такое кунг-фу</h3>

            <p>
                пы впы впыв пыв пывпіртоырпдывар ывар варпыв пылп вылп фывт пыт пв
                ывполфы впот ыфтвп ывепіцул ецпе ыдввп дф выпыфв пд цыдфп фцыуп
                цуфцуыпф дрпфук рпукр пудкпеыдв пыовпўцтуе ыьвп ывпржфы вплцукотыпцуфк
                фывлрп ыв аружкднетулф рпфлвыарплуціыпеы.
            </p>

            <p><a class="big-link-1" href="#">@GlobalRes.ReadMore</a></p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="service">
            <div class="service-icon">
                <span class="glyphicon glyphicon-bell"></span>
            </div>

            <h3>Почему это школа</h3>

            <p>
                пы впы впыв пыв пывпіртоырпдывар ывар варпыв пылп вылп фывт пыт пв
                ывполфы впот ыфтвп ывепіцул ецпе ыдввп дф выпыфв пд цыдфп фцыуп
                цуфцуыпф дрпфук рпукр пудкпеыдв пыовпўцтуе ыьвп ывпржфы вплцукотыпцуфк
                фывлрп ыв аружкднетулф рпфлвыарплуціыпеы.
            </p>

            <p><a class="big-link-1" href="#">@GlobalRes.ReadMore</a></p>
        </div>
    </div>
</div>