@using HongGia.Helpers

@model HongGia.Core.Interfaces.Models.IFeedBackView

@{
    ViewBag.Title = "FeedBack";
}

<div class="row row-margin">

    <div class="col-md-4">
        <div class="thumbnail">
            
            @using (Html.BeginForm("FeedBack", "Home", FormMethod.Post))
            {
                <textarea class="form-control" rows="6"></textarea>

                <div class="form-group">
                    <label for="InputName">Name</label>
                    <input type="text" class="form-control" id="InputName" placeholder="example">
                </div>

                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" id="InputEmail" placeholder="example@example.com">
                </div>

                <button type="submit" class="btn btn-default">Send</button>
            }

        </div>
    </div>

    <div class="col-md-8">        
        @Html.ListGroup(@Model.FeedBacks)

        <div class="text-center">
            @Html.PageLinks(
                (int)Html.ViewData["PageNum"],
                (int)Html.ViewData["ItemCount"],
                (int)Html.ViewData["PageSize"],
                x => Url.Action("FeedBack", new { pageNum = x }))
        </div>

    </div>
</div>