@using HongGia.Core.Helpers

@model HongGia.Core.Interfaces.Models.IFeedBacksView

@{
	ViewBag.Title = "FeedBack";
}

<div class="row row-margin">

    @Html.Partial("_MessageFeedbackPartial", new HongGia.Core.Models.Base.FeedBack())

	@if (@Model != null)
	{
		<div class="col-md-8">
			@Html.ListGroup(@Model.FeedBacks)

			<div class="text-center">
				@Html.PageLinks(
				(int)Html.ViewData["PageNum"],
				(int)Html.ViewData["ItemCount"],
				(int)Html.ViewData["PageSize"],
				x => Url.Action("FeedBack", new { pageNum = x }))
			</div>
		</div>
	}
</div>