body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/* --- customize stile classes for bootstrap --- */

.row-margin {
    margin-top:20px; 
    margin-bottom: 20px;
}

.thumbnail-margin,
.margin-bottom-ten {
    margin-bottom: 10px;
}

.margin-right-ten {
    margin-right: 10px;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.img-responsive {
    margin: 0 auto;
}

/* --- feedback styles --- */

.feetback {
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.feetback:last-child {
    border-bottom: none;
}

.feetback .text-right {
    color: #dddddd;
}

/* --- responsive google map for bootstrap --- */

.google-maps {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* --- colapsable panels styles --- */

.collapsable-header {
    cursor: pointer;
}

/* ---  --- */

.gallery
{
    display: inline-block;
    margin-top: 20px;
}